.SchoolList {
  /* border: 1px solid green; */
  position: relative;
  margin: 0 20px;
}

.School {
  position: relative;
  top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
}